[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
    #url = ../../slaclab/ruckus.git
    url = git@github.com:burbschat/ruckus.git
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
    #url = ../../slaclab/surf.git
    url = git@github.com:burbschat/surf.git
[submodule "firmware/submodules/aes-stream-drivers"]
	path = firmware/submodules/aes-stream-drivers
	url = ../../slaclab/aes-stream-drivers.git
[submodule "firmware/submodules/axi-soc-ultra-plus-core"]
	path = firmware/submodules/axi-soc-ultra-plus-core
    # url = ../../slaclab/axi-soc-ultra-plus-core.git
    url = git@github.com:burbschat/axi-soc-ultra-plus-core.git
[submodule "firmware/src/bobyqa"]
	path = firmware/src/bobyqa
	url = https://github.com/pitzl/bobyqa.git
